.base {
  --background-color: transparent;
  background-color: var(--background-color);
  margin-bottom: 0;
}

.image-wrapper {
  /* @include image-aspect-ratio(5, 4); */
  position: relative;
  padding-top: 80%;
  @media (min-width: 768px) {
    /* @include image-aspect-ratio(4, 3); */
    padding-top: 75%;
  }
}

.layout {
  display: grid;
  grid-template-columns: 30% 67%;
  grid-column-gap: var(--space2);
}
