.base {
  display: grid;

  --border-color: var(--alto);
  --background-color: var(--white);

  grid-template-columns: 1fr 2fr;
  grid-gap: var(--space2);
  @media (min-width: 768px) {
    display: block;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
  }
  :global .headline {
    font-size: var(--base-medium);
    margin: 0px;
    @media (min-width: 768px) {
      font-size: var(--base-larger);
    }
  }
}

.image-wrapper {
  position: relative;
  padding-top: 75%;
  align-self: flex-start;
  margin-bottom: 0;
  @media (min-width: 768px) {
    padding-top: 50%;
    margin-bottom: var(--space2);
  }
}

.text-wrapper {
  display: block;
  margin-bottom: 0;
  @media (min-width: 768px) {
    margin-bottom: var(--space2);
  }
}
