.base {
  display: grid;

  --border-color: var(--alto);
  --background-color: var(--white);

  grid-template-columns: 1fr 2fr;

  @media (min-width: 768px) {
    display: block;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
  }
  :global .headline {
    font-size: var(--base-medium);
    margin: 0px;
    @media (min-width: 768px) {
      font-size: var(--base-larger);
    }
  }
}

.image-wrapper {
  position: relative;
  padding-top: 75%;
  @media (min-width: 768px) {
    padding-top: 50%;
  }
  align-self: flex-start;
}

.text-wrapper {
  display: block;
  margin-left: var(--space1);
  @media (min-width: 768px) {
    padding: var(--space2) 0;
    margin-left: 0;
    /* margin-top: var(--space1); */
  }
}
