.base {
  background: var(--background-color);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: var(--base-smaller);
  grid-gap: var(--space2);
  @media (min-width: 768px) {
    display: block;
  }
  :global .image-wrapper {
    position: relative;
    padding-top: 75%;
    margin-bottom: 0;
    @media (min-width: 768px) {
      padding-top: 56.25%;
      margin-bottom: var(--space2);
    }
  }
}
