.read-more-link {
  --accent-color: var(--white);
  --background-color: var(--black);
  display: block;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}
.read-more-link:after {
  display: block;
  content: "";
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
  /* @include image-aspect-ratio(3, 1); */
  padding-top: 33.33%;
  width: 100%;
  position: absolute;
}

.base {
  background-color: var(--background-color);
  position: relative;

  :global .contributor {
    --content-color: var(--white);
  }
}

.image-wrapper {
  padding-top: 115.26%;
  position: relative;
}

.text-wrapper {
  position: absolute;
  bottom: 0;
  white-space: normal;
  padding: 12px;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, #000 50%);
    opacity: 0.7;
  }
}

.base :global .headline {
  --title-color: var(--white);

  color: var(--title-color);
  z-index: 1;
  position: relative;
}

.base :global .highlight span {
  background-color: var(--accent-color);
  box-shadow: var(--space1) 0 0 var(--accent-color), calc(-1 * var(--space1)) 0 0 var(--accent-color);
  line-height: 1.14;
  padding: var(--space-4);
  color: inherit;
}
