.base {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  @media (min-width: 768px) {
    grid-template-columns: 1fr;
  }
  :global .headline {
    margin: 0;
  }
}

.image-wrapper {
  position: relative;
  padding-top: 66.67%;
  align-self: flex-start;
}

.text-wrapper {
  display: block;
  @media (min-width: 768px) {
    margin-left: 0;
    margin-top: var(--space1);
  }
}

.truncated {
  /* @include number-of-lines(h3, 3); */
  @media (min-width: 768px) {
    /* @include number-of-lines(h3, 2); */
  }
}
