.base {
  --meta-color: var(--boulder);
}

.link {
  display: block;
}

@media (min-width: 768px) {
  .link {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.image-wrapper {
  padding-top: 56.25%;
  margin-bottom: var(--space2);
}

@media (min-width: 768px) {
  .text-wrapper {
    padding: var(--space2);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
