.base {
  --meta-color: var(--boulder);
}

.base .contributor {
  margin-bottom: var(--space1);
}

.base :global(.premium-badge) {
  right: 5%;
  left: auto;
}

.link {
  display: block;
}

@media (min-width: 768px) {
  .link {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.image-container {
  padding-top: 56.25%;
  order: unset;
}

.content {
  position: relative;
  padding: var(--space1) 0;
  background-color: var(--background-color);
}

@media (min-width: 768px) {
  .content {
    padding: var(--space3);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.story-template-icon {
  z-index: 2;
  position: absolute;
  bottom: var(--space1);
  left: var(--space1);
  line-height: 0;
}

.template-icon {
  font-size: 64px;
}
