.base {
  --border-color: var(--alto);
  --background-color: var(--alto);

  background-color: var(--background-color);
  padding: var(--space1_5) 0 var(--space3);
  @media (min-width: 768px) {
    padding: var(--space3) 0;
  }

  :global .sub-collection-headline {
    color: var(--accent-color);
    margin: 0;
    margin-bottom: var(--space2);
    /* @include font-styles(mobile-h3); */
    @media (min-width: 768px) {
      /* @include font-styles(h4); */
      margin-bottom: var(--space3);
    }
  }

  :global .story-1 {
    grid-column: span 4;
    @media (min-width: 768px) {
      grid-area: sc1;
    }
  }

  :global .story-2 {
    grid-column: span 4;
    padding-bottom: var(--space1);
    border-bottom: 2px solid var(--border-color);
    @media (min-width: 768px) {
      padding-bottom: 0;
      border-bottom: 0;
      grid-area: sc2;
    }
  }

  :global .story-3 {
    grid-column: span 4;
    @media (min-width: 768px) {
      grid-area: sc3;
    }
  }

  :global .story-4 {
    grid-column: span 4;
    @media (min-width: 768px) {
      grid-area: sc4;
    }
  }

  :global .story-3,
  :global .story-4 {
    display: block;
    padding-bottom: var(--space1);
    border-bottom: 2px solid var(--border-color);
    @media (min-width: 768px) {
      border-bottom: none;
    }
  }
}

.row {
  grid-gap: var(--space1);
  @media (min-width: 768px) {
    grid-gap: var(--space3);
    grid-template-areas:
      "sc1 sc1 sc1 sc1 sc2 sc2 sc2 sc2 sb sb sb sb"
      "ss1 ss1 ss1 ss2 ss2 ss2 sc3 sc3 sb sb sb sb"
      "ss1 ss1 ss1 ss2 ss2 ss2 sc4 sc4 sb sb sb sb";
  }
}

.story-stack-1 {
  grid-column: span 4;
  margin-bottom: var(--space3);
  @media (min-width: 768px) {
    grid-area: ss1;
    margin-bottom: 0;
  }
}

.story-stack-2 {
  grid-column: span 4;
  margin-bottom: var(--space3);
  @media (min-width: 768px) {
    grid-area: ss2;
    margin-bottom: 0;
  }
}

.sidebar {
  grid-column: span 4;
  @media (min-width: 768px) {
    grid-area: sb;
  }
}

.ad {
  padding: 0 var(--space3) var(--space3);
}
