@import "../../../../node_modules/@glidejs/glide/dist/css/glide.core.min.css";

.center-left-controls {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.center-right-controls {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.bottom-center-controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.glide__slides {
  display: inline-flex;
  align-items: center;
}
