.base {
  width: 100%;
  display: grid;

  --border-color: var(--hollywood-cerise);

  grid-template-columns: 1fr 3fr;
  grid-gap: var(--space2);
  grid-auto-rows: min-content;
  @media (min-width: 768px) {
    display: block;
  }
}

.image-wrapper {
  /* @include image-aspect-ratio(4, 3); */
  padding-top: 75%;
  align-self: flex-start;
  margin-bottom: 0;
  @media (min-width: 768px) {
    /* @include image-aspect-ratio(2, 1); */
    padding-top: 50%;
    margin-bottom: var(--space2);
  }
}
