.base {
  display: grid;
  grid-template-columns: 80px 1fr;
  background-color: var(--white);
}

.image-wrapper {
  position: relative;
  padding-top: 100%;
}

.text-wrapper {
  padding-left: var(--space2);
  padding-top: var(--space1);
  background-color: var(--background-color, --white);
}

.headline {
  /* @include font-styles(h5); */
  padding-top: var(--space-1);
  margin: 0;
  color: var(--title-color);
}

.headline.truncated {
  /* @include number-of-lines(h5, 2); */
}
