.base {
  --background-color: var(--white);
  --accent-color: var(--yellowish-orange);
  background-color: var(--background-color);

  :global .image-wrapper {
    /* @include image-aspect-ratio(5, 3); */
    position: relative;
    padding-top: 60%;
  }

  :global .image-wrapper:before {
    --background-color: var(--black);
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    height: 70px;
    opacity: 0.5;
    background-image: linear-gradient(to bottom, transparent, var(--black));
  }

  :global .headline {
    color: var(--title-color);
    margin: 0;
  }
}

.content {
  padding: var(--space2) 0;
}

.engagement-total {
  --title-color: var(--white);
  /* @include font-styles(meta); */
  font-size: var(--base-smallest);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  padding: var(--space-2);
  background: var(--accent-color);
  color: var(--title-color);
  display: flex;
  align-items: center;
}
.engagement-total .speaker-icon {
  margin-right: var(--space-4);
  font-size: 14px;
  color: var(--white);
}

.engagement {
  display: none;
  @media (min-width: 768px) {
    display: block;
    font-size: var(--base-smallest);
    border: 3px solid red;
  }
}

.engagement-item {
  margin: 0 var(--space1) 0 0;
  display: inline-flex;
  margin-right: var(--space1);
  align-items: center;
}
.engagement-item .engagement-icon {
  margin-right: var(--space-2);
  font-size: 14px;
  color: var(--boulder);
}

.published-date {
  font-size: var(--base-smallest);
  color: var(--meta-color);
}
