.base {
  --background-color: var(--white);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image content";
}

@media (min-width: 768px) {
  .base {
    grid-template-areas: "content image";
    background-color: var(--background-color);
  }
}

.base .contributor {
  margin-bottom: var(--space-4);
}

@media (min-width: 768px) {
  .base .contributor {
    order: 2;
  }
}

.image-container {
  position: relative;
  grid-area: image;
  align-self: flex-start;
  margin-right: var(--space1);
}

@media (min-width: 768px) {
  .image-container {
    margin-right: 0;
  }
}

.badge {
  position: absolute;
  left: var(--space1);
  top: 100%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding: var(--space-2) var(--space1);
  background-color: var(--accent-color);
  border-radius: 3px;
  color: var(--white);
}

@media (min-width: 768px) {
  .badge {
    left: var(--space2);
    padding: var(--space1);
  }
}

.badge-icon {
  font-size: 12px;
  margin: 0 var(--space-2) 0 0;
}

.figure {
  position: relative;
  padding-top: 62.5%;
}

@media (min-width: 768px) {
  .figure {
    padding-top: 100%;
  }
}

.content {
  position: relative;
  grid-area: content;
}

@media (min-width: 768px) {
  .content {
    background: var(--background-color);
    padding: var(--space2) var(--space3);
  }
}

.headline {
  color: var(--title-color);
  margin: var(--space-2) 0;
}

@media (min-width: 768px) {
  .headline {
    margin: var(--space-2) 0;
  }
}
