.base {
  background: var(--background-color);
  overflow: auto;
  display: block;
  @media (min-width: 768px) {
    border-bottom: 2px solid var(--accent-color);
  }
}

.image-wrapper {
  position: relative;
  padding-top: 62.5%;
  margin-bottom: var(--space2);
  @media (min-width: 768px) {
    padding-top: 50%;
  }
}

.text-wrapper {
  @media (min-width: 768px) {
    margin-bottom: var(--space1);
  }
}
