.base {
  background: var(--background-color);
  overflow: auto;
  display: block;
  @media (min-width: 768px) {
    border-bottom: 4px solid var(--accent-color);
  }
}

.base .contributor {
  margin: 0 0 var(--space-2);
  white-space: nowrap;
  overflow: hidden;
  @media (min-width: 768px) {
    margin: 0 0 var(--space1);
  }
}

.image-wrapper {
  position: relative;
  padding-top: 62.5%;
  margin: 0 0 var(--space1);

  @media (min-width: 768px) {
    padding-top: 50%;
    margin: 0 0 var(--space2);
  }
}

.text-wrapper {
  margin: 0 0 var(--space2);
  padding: 0 var(--space1_5);
  @media (min-width: 768px) {
    padding: 0 var(--space2);
    margin: 0 0 var(--space3);
    font-size: var(--base-smaller);
  }
}

.headline {
  margin: 0px;
  color: var(--title-color);
  font-size: var(--base-large);

  &.truncated {
    /* @include number-of-lines(mobile-h3, 2); */
    @media (min-width: 768px) {
      /* @include number-of-lines(h3, 2); */
    }
  }
}
