.base {
  background: var(--background-color);
  overflow: auto;
  display: block;
}

.base .contributor {
  margin: 0 0 var(--space-2);
  white-space: nowrap;
  overflow: hidden;
  @media (min-width: 768px) {
    margin: 0 0 var(--space1);
  }
}

.image-wrapper {
  position: relative;
  padding-top: 62.5%;
  @media (min-width: 768px) {
    padding-top: 75%;
  }
}

.text-wrapper {
  padding-top: var(--space2);
}

.headline {
  margin: 0px;
  color: var(--title-color);
  font-size: var(--base-large);

  &.truncated {
    /* @include number-of-lines(mobile-h3, 2); */
    @media (min-width: 768px) {
      /* @include number-of-lines(h3, 2); */
    }
  }
}
