.base {
  display: flex;
}

@media (min-width: 768px) {
  .base {
    flex-direction: column;
    align-self: flex-start;
  }
}

.base :global .contributor {
  margin-bottom: var(--space-4);
}

@media (min-width: 768px) {
  .base :global .contributor {
    order: 2;
  }
}

.base :global(.premium-badge) {
  left: 5%;
  right: auto;
}

.base :global .headline {
  margin: 0;
}

@media (min-width: 768px) {
  .base :global .headline {
    margin: var(--space2) 0 var(--space1);
  }
}

.image-container {
  flex: 1 0 25%;
  position: relative;
  align-self: flex-start;
}

@media (min-width: 768px) {
  .image-container {
    align-self: unset;
  }
}

.badge {
  /* @include font-styles(button-sm); */
  position: absolute;
  right: 0;
  top: 100%;
  transform: translate(-25%, -50%);
  padding: var(--space-4) var(--space-2);
  background-color: var(--accent-color);
  border-radius: 3px;
  color: var(--white);
  min-height: var(--space2);
  line-height: 1;
}

@media (min-width: 768px) {
  .badge {
    transform: translateY(-50%);
    right: var(--space1);
    left: unset;
    display: flex;
    align-items: center;
    padding: var(--space1);
  }
}

.badge-icon {
  font-size: 12px;
  line-height: 1;
}

@media (min-width: 768px) {
  .badge-icon {
    margin: 0 var(--space-2) 0 0;
  }
}

.badge-text {
  display: none;
}

@media (min-width: 768px) {
  .badge-text {
    display: unset;
    white-space: nowrap;
  }
}

.figure {
  position: relative;
  padding-top: 75%;
}

.content {
  flex-grow: 1;
  margin-left: var(--space2);
}

@media (min-width: 768px) {
  .content {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

.truncated {
  /* @include number-of-lines(h5, 2); */
}

@media (min-width: 768px) {
  .truncated {
    /* @include number-of-lines(h5, 4, 2); */
  }
}
