.base {
  --content-color: var(--gray);
  --icon-color: var(--greyish-brown);

  font-family: var(--serifTypeface);
  font-weight: 400;

  align-items: center;
  svg {
    font-size: 2.2em;
  }
}

.contributor-name {
  color: var(--content-color);
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

.icon {
  color: var(--icon-color);
}

.contributor-type-1 {
  font-size: 18px;
}
.contributor-type-2 {
  font-size: 16px;
}

.contributor-type-3 {
  font-size: 14px;
}

@media (min-width: 768px) {
  .contributor-type-1 {
    font-size: 20px;
  }
  .contributor-type-2 {
    font-size: 18px;
  }

  .contributor-type-3 {
    font-size: 14px;
  }
}
