.base {
  --content-color: var(--gray);
  --icon-color: var(--greyish-brown);
  /* @include font-styles(meta); */
  display: grid;
  align-items: center;
  svg {
    font-size: 2.2em;
  }
}

.contributor-name {
  color: var(--content-color);
  white-space: nowrap;
  overflow: hidden;
}

.icon {
  color: var(--icon-color);
}
