.base {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: var(--space1);
  background-color: var(--background-color);
  @media (min-width: 768px) {
    display: block;
    margin-bottom: var(--space2);
  }
}
.image-wrapper {
  position: relative;
  padding-top: 75%;
  margin-bottom: var(--space2);
  @media (min-width: 768px) {
    padding-top: 50%;
  }
}

.headline-wrapper {
  display: flex;
  overflow: hidden;
  margin-bottom: var(--space1);
  :global .headline-label {
    margin: 0;
    grid-column: span 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.story-card-with-label-wrapper {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--space5) 1fr;
  }
}

.card {
  @media (min-width: 768px) {
    grid-row: 2;
  }
}

.bullet-icon {
  color: var(--greyish-brown);
  font-size: var(--medium);
  position: relative;
  bottom: var(--space-4);
  margin-right: var(--space-2);
}
