.base {
  --title-color: var(--white);
  --content-color: var(--greyish-brown);
  --background-color: var(--accent-color);
  --meta-color: var(--white);
  background: var(--background-color);
  overflow: auto;
  padding: var(--space1_5) var(--space3);
  @media (min-width: 768px) {
    padding: var(--space3) 0;
  }
}
.contributor {
  --content-color: var(--meta-color);
  --icon-color: var(--meta-color);
  white-space: nowrap;
}

.story-card {
  display: flex;
  align-items: center;
}

.carousel-wrapper {
  padding: 0 0 var(--space2);
  margin: 0 0 var(--space2);
}
@media (min-width: 768px) {
  .carousel-wrapper {
    padding: 0 var(--space10);
    margin: 0 calc(-1 * var(--space10));
    width: auto;
  }
}
@media (min-width: 768px) {
  .carousel-wrapper :global .slider-control-centerleft {
    margin-left: calc(-1 * var(--space8));
  }
}
@media (min-width: 768px) {
  .carousel-wrapper :global .slider-control-centerright {
    margin-right: calc(-1 * var(--space8));
  }
}
.carousel-wrapper :global .slider-control-bottomcenter {
  bottom: calc(-1 * var(--space2));
}

.story-card :global .image-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--title-color);
  overflow: hidden;
  flex-shrink: 0;
  margin: 0 var(--space2) 0 0;
  @media (min-width: 768px) {
    width: 120px;
    height: 120px;
  }
}

.story-card-big .content {
  @media (min-width: 768px) {
    padding: 0 var(--space9);
  }
}

.story-card-small .content {
  @media (min-width: 768px) {
    padding: 0 var(--space3);
  }
}

@media (min-width: 768px) {
  .carousel-wrapper :global .is-card-active :global .image-container {
    border-width: 8px;
  }
}

.image-container-figure {
  /* @include image-aspect-ratio(1, 1); */
  padding-top: 100%;
}

.headline {
  /* @include font-styles(mobile-h4); */
  font-size: var(--base-medium);
  color: var(--title-color);
  margin: 0 0 var(--space-2);
}

.slider-nav-button {
  display: none;
  font-size: 16px;
  width: 1em;
  height: 2em;
  color: var(--greyish-brown);

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background: var(--title-color);
  }
}

.bullets {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    display: none;
  }
}
.bullet {
  height: 5px;
  width: 5px;
  padding: 0;
  border: 1px solid var(--title-color);
  background: transparent;
  margin: 0 var(--space1_5) 0 0;
  border-radius: 50%;
}
.bullet:last-child {
  margin: 0;
}

.bullet .is-active {
  background: var(--title-color);
}

.story-card-big {
  display: none;
}
.story-card-big.show-on-mobile {
  display: flex;
  margin: 0 0 var(--space2);
}
@media (min-width: 768px) {
  .story-card-big.show-on-mobile {
    margin: 0 0 var(--space5);
  }
}
.story-card-big .subheadline {
  display: none;
}
@media (min-width: 768px) {
  .story-card-big {
    --title-color: var(--accent-color);
    --meta-color: var(--gray);
    --background-color: var(--white);
    --content-color: var(--greyish-brown);
    display: flex;
    background: var(--background-color);
    padding: var(--space4);
    margin: 0 0 var(--space5);
    border-radius: 200px;
  }
  .story-card-big :global .image-container {
    width: 320px;
    height: 320px;
    border: 0;
  }
  .story-card-big .headline {
    /* @include font-styles(h1); */
    font-size: var(--larger);
    color: var(--title-color);
  }
  .story-card-big .subheadline {
    /* @include font-styles(body-sm); */
    font-size: var(--base-smallest);
    display: block;
    color: var(--content-color);
    margin: var(--space2) 0 0;
  }
  .story-card-big .contributor {
    --icon-color: var(--greyish-brown);
    white-space: nowrap;
  }
}

.nav-left {
  transform: rotate(-90deg);
  padding-top: 0.7rem;
  display: none;
  @media (min-width: 768px) {
    display: block;
    padding-top: 1rem;
    font-size: var(--medium);
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
.nav-right {
  transform: rotate(90deg);
  padding-top: 0.7rem;
  display: none;
  @media (min-width: 768px) {
    display: block;
    padding-top: 1rem;
    font-size: var(--medium);
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
