.base {
  --border-color: var(--alto);
  --background-color: var(--white);

  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.image-wrapper {
  position: relative;
  padding-top: 66.67%;
  align-self: flex-start;
  margin-bottom: var(--space2);
  @media (min-width: 768px) {
    padding-top: 50%;
  }
}

.text-wrapper {
  margin-bottom: var(--space2);
}
