.headline {
  font-family: var(--sansTypeface);
  font-weight: var(--bold);
  letter-spacing: var(--regular);
  line-height: 1.2;
}

.headline-type-1 {
  font-size: 24px;
}

.headline-type-2 {
  font-size: 24px;
}

.headline-type-3 {
  font-size: 18px;
}

.headline-type-4 {
  font-size: 20px;
}

.headline-type-5 {
  font-size: 18px;
}

.headline-type-6 {
  font-size: 18px;
}

.headline-type-7 {
  font-size: 20px;
}

.headline-type-8 {
  font-size: 18px;
}
.headline-type-9 {
  font-size: 20px;
}

.headline-type-10 {
  font-size: 28px;
}

.headline-type-11 {
  font-size: 18px;
}

@media (min-width: 768px) {
  .headline-type-1 {
    font-size: 32px;
  }

  .headline-type-4 {
    font-size: 28px;
  }

  .headline-type-5 {
    font-size: 28px;
  }

  .headline-type-6 {
    font-size: 24px;
  }

  .headline-type-7 {
    font-size: 24px;
  }

  .headline-type-8 {
    font-size: 20px;
  }

  .headline-type-9 {
    font-size: 48px;
  }
  .headline-type-10 {
    font-size: 64px;
  }
  .headline-type-11 {
    font-size: 42px;
  }
}

/* Headline Types */

/* Crossline */
.crossline {
  --border-color: var(--title-color);

  line-height: 1.2;
  color: var(--title-color);
  margin: 0 0 var(--space2);
  display: flex;
  align-items: center;
  justify-content: center;

  :global .text {
    padding: 0 var(--space1);
    @media (min-width: 768px) {
      padding: 0 var(--space3);
    }
  }

  @media (min-width: 768px) {
    margin: 0 0 var(--space4);
  }
}

.crossline::after,
.crossline::before {
  content: "";
  display: block;
  border-top: 2px solid var(--border-color);
  flex-grow: 1;
  opacity: 0.3;
}

.withbackground {
  cursor: pointer;
}
