.headline {
  font-family: var(--sansTypeface);
  font-weight: var(--bold);
  letter-spacing: var(--regular);
  line-height: 1.33;
}

.headline-type-1 {
  font-size: var(--large);
}

.headline-type-2 {
  font-size: var(--base-medium);
}

.headline-type-3 {
  font-size: var(--base-small);
}

.headline-type-4 {
  font-size: var(--base-smallest);
}

.headline-type-6 {
  font-size: var(--base-large);
}

.headline-type-5 {
  font-size: var(--base);
}

.headline-type-7 {
  font-size: var(--base-medium);
}

.headline-type-8 {
  font-size: var(--base-small);
}

.headline-type-9 {
  font-size: var(--base-large);
}

.headline-type-12 {
  font-size: var(--base-medium);
}

.headline-type-10 {
  font-size: var(--base-medium);
}

.headline-type-11 {
  font-size: var(--base-larger);
}

.headline-type-13 {
  font-size: var(--base-smaller);
}

.headline-type-14 {
  font-size: var(--base-medium);
}

.headline-type-15 {
  font-size: var(--base-small);
}

.headline-type-16 {
  font-size: var(--base);
}

.headline-type-17 {
  font-size: var(--base-medium);
}

@media only screen and (min-width: 768px) {
  .headline-type-1 {
    font-size: var(--large);
  }

  .headline-type-6 {
    font-size: var(--large);
  }

  .headline-type-7 {
    font-size: var(--large);
  }

  .headline-type-9 {
    font-size: var(--medium);
  }

  .headline-type-12 {
    font-size: var(--medium);
  }

  .headline-type-10 {
    font-size: var(--medium);
  }

  .headline-type-11 {
    font-size: var(--large);
  }

  .headline-type-13 {
    font-size: var(--base-medium);
  }

  .headline-type-16 {
    font-size: var(--base-smaller);
  }

  .headline-type-17 {
    font-size: var(--base-larger);
  }

  .headline-type-18 {
    font-size: var(--base-regular);
  }
}

.live-icon {
  color: var(--metaColor);
  margin-right: 4px;
  display: inline;
}

.live-icon::before {
  --metaColor: var(--brandPrimary);
  position: relative;
  padding-right: 3px;
  content: "\25C9 ";
  bottom: -1px;
  line-height: 12px;
  color: var(--metaColor);
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
