:root {
  --space-4: 0.2rem;
  --space-2: 0.4rem;
  --space1: 0.8rem;
  --space1_5: 1.2rem;
  --space2: 1.6rem;
  --space3: 2.4rem;
  --space4: 3.2rem;
  --space5: 4rem;
  --space6: 4.8rem;
  --space7: 5.6rem;
  --space8: 6.4rem;
  --space9: 7.2rem;
  --space10: 8rem;
  --space12: 9.6rem;
}
