.base-link {
  display: block;
}
.base {
  --title-color: var(--white);
  position: relative;
  @media (min-width: 768px) {
    border-bottom: 2px solid var(--accent-color);
    .text-wrapper {
      display: none;
    }
    &:hover .text-wrapper {
      display: flex;
    }
  }
  .contributor {
    --content-color: var(--white);
    --icon-color: var(--white);
    /* z-index: map-get($zindex, image-overlay); */
    z-index: 1;
  }
}

.image-wrapper {
  padding-top: 56.25%;
  align-self: flex-start;

  @media (min-width: 768px) {
    /* @include image-aspect-ratio(2, 1); */
    padding-top: 50%;
  }
}

.text-wrapper {
  display: block;
  margin-top: var(--space1);
  position: relative;
  @media (min-width: 768px) {
    padding: var(--space5);
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &:before {
      background-color: var(--accent-color);
      opacity: 0.4;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

.headline {
  /* @include font-styles(mobile-h4); */
  font-size: var(-base--medium);
  @media (min-width: 768px) {
    /* @include font-styles(h4); */
    font-size: var(-base--large);
  }
  /* z-index: map-get($zindex, image-overlay); */
  z-index: 1;
  margin: 0px;
  margin-top: var(--space-2);
  color: var(--title-color);
}
