.base {
  background: var(--background-color);
  padding: var(--space1_5) 0 var(--space3);
  @media (min-width: 768px) {
    padding: var(--space3) 0;
  }

  :global .story-card-big {
    --background-color: var(--white);
    @media (min-width: 768px) {
      grid-area: scb;
    }
  }

  :global .story-card-medium {
    --background-color: transparent;
    padding-bottom: var(--space1);
    border-bottom: 1px solid var(--border-color);
    @media (min-width: 768px) {
      --background-color: var(--white);
      border-bottom: 2px solid var(--accent-color);
    }
  }

  :global .story-card-medium-scm {
    @media (min-width: 768px) {
      grid-area: scm;
    }
  }

  :global .story-card-medium-scm2 {
    @media (min-width: 768px) {
      grid-area: scm2;
    }
  }

  :global .story-card-small {
    background: transparent;
    padding-bottom: var(--space1);
  }

  :global .story-card-small-scs {
    border-bottom: 1px solid var(--border-color);
    @media (min-width: 768px) {
      grid-area: scs;
    }
  }

  :global .story-card-small-scs2 {
    @media (min-width: 768px) {
      grid-area: scs2;
    }
  }
}

.main-content {
  grid-column: span 4;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: var(--space1);
  @media (min-width: 768px) {
    grid-gap: var(--space2);
    grid-column: span 8;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "scb scb scb scb scb scb scs scs"
      "scb scb scb scb scb scb scs2 scs2"
      "scm scm scm scm scm2 scm2 scm2 scm2";
  }
}

.sidebar {
  grid-column: span 4;
  @media (min-width: 768px) {
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: var(--space3);
  }
}

.story-card {
}

.read-more-wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}
