@import "./base.scss";

.info-table {
  width: 100% !important;
}

.info-table,
.info-table td,
.info-table th {
  border-collapse: collapse !important;
  border: 1px solid #cccccc !important;
  color: #444444 !important;
  margin-top: 0.25rem !important;
  padding-right: 0.5rem !important;
  padding: 0.25rem !important;
  text-align: left !important;
  vertical-align: top !important;
}

.info-table-monospace {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
  font-size: 0.88em !important;
}
