@import "./generics/spacing.scss";
@import "./generics/z-index.scss";
@import "./generics/colors.scss";
@import "./generics/typography.scss";
@import "./generics/normalize.scss";

@import "./helper/helper.scss";

.info-table {
  width: 100%;
}

.info-table,
.info-table td,
.info-table th {
  border-collapse: collapse;
  border: 1px solid #cccccc;
  color: #444444;
  margin-top: 0.25rem;
  padding-right: 0.5rem;
  padding: 0.25rem;
  text-align: left;
  vertical-align: top;
}

.info-table-monospace {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0.88em;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

figure,
img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
