.base {
  width: 100%;
  --background-color: var(--white);
  background-color: var(--background-color);
}

.image-wrapper {
  padding-top: 56.25%;
  margin-bottom: var(--space1);
  align-self: flex-start;
}

.base :global .headline {
  color: var(--title-color);
}

/* .truncated {
  @include number-of-lines(mobile-h3, 2);
  @media (min-width: 768px) {
    @include number-of-lines(h3, 2);
  }
} */
