.base {
  width: 100%;
  display: grid;

  grid-template-columns: 1fr 2fr;
  grid-gap: var(--space2);
  @media (min-width: 768px) {
    display: block;
  }
}

.image-wrapper {
  position: relative;
  padding-top: 75%;
  align-self: flex-start;
  margin-bottom: 0;
  @media (min-width: 768px) {
    padding-top: 66.67%;
    margin-bottom: var(--space2);
  }
}
