.base {
  width: 100%;
  display: grid;

  grid-template-columns: 1fr 2fr;

  @media (min-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.image-wrapper {
  position: relative;
  padding-top: 75%;
  @media (min-width: 768px) {
    padding-top: 66.67%;
  }
  align-self: flex-start;
}

.text-wrapper {
  display: block;
  margin-left: var(--space1);
  @media (min-width: 768px) {
    margin-left: 0;
    margin-top: var(--space1);
  }
}

.headline {
  /* @include font-styles(mobile-h4); */
  @media (min-width: 768px) {
    /* @include font-styles(mobile-h3); */
  }
  margin: 0px;
  margin-top: var(--space-2);
  color: var(--title-color);

  &.truncated {
    /* @include number-of-lines(mobile-h4, 2); */
    @media (min-width: 768px) {
      /* @include number-of-lines(mobile-h3, 2); */
    }
  }
}
