.base {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (min-width: 768px) {
  .base {
    grid-template-columns: 1fr;
  }
}

.image-wrapper {
  position: relative;
  padding-top: 75%;
  align-self: flex-start;
}

@media (min-width: 768px) {
  .image-wrapper {
    padding-top: 66.67%;
  }
}

.text-wrapper {
  display: block;
  margin-left: var(--space1);
}

@media (min-width: 768px) {
  .text-wrapper {
    margin-left: 0;
    margin-top: var(--space1);
  }
}

.headline {
  /* @include font-styles(mobile-h4); */
  margin: 0;
  margin-top: var(--space-2);
  color: var(--title-color);
}

@media (min-width: 768px) {
  .headline {
    /* @include font-styles(mobile-h3); */
  }
}

.headline.truncated {
  /* @include number-of-lines(mobile-h4, 2); */
}

@media (min-width: 768px) {
  .headline.truncated {
    /* @include number-of-lines(mobile-h3, 2); */
  }
}
