.read-more-link {
  --background-color: var(--white);
  background-color: var(--background-color);
}
.base {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  @media (min-width: 768px) {
    display: block;
  }
  .contributor {
    margin-bottom: var(--space-2);
  }
}
.image-wrapper {
  position: relative;
  padding-top: 75%;
  @media (min-width: 768px) {
    padding-top: 56.25%;
  }
}

.text-wrapper {
  padding-left: var(--space2);
  @media (min-width: 768px) {
    padding: var(--space2);
  }
}
.headline {
  /* @include font-styles(h5); */
  margin: 0px;
  color: var(--title-color);
  @media (min-width: 768px) {
    /* @include font-styles(h3); */
  }
}

.truncated {
  /* @include number-of-lines(h5, 2); */
  @media (min-width: 768px) {
    /* @include number-of-lines(h3, 3); */
  }
}
.story-card {
}
.story-card-medium {
}
.story-card-medium-scm {
}
.story-card-medium-scm2 {
}
.card-with-image-zoom {
}
.headline {
}
