.base {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.base :global .contributor {
  white-space: nowrap;
}

.base :global .line-separater {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: var(--space1);
}

@media (min-width: 768px) {
  .base :global .line-separater {
    padding-bottom: var(--space2);
  }
}

.base :global .headline {
  /* @include font-styles(h5); */
  color: var(--title-color);
}

@media (min-width: 768px) {
  .base :global .headline {
    margin: 0;
  }
}

.image-wrapper {
  position: relative;
  padding-top: 75%;
  align-self: flex-start;
}

.text-wrapper {
  display: block;
  padding-left: var(--space1_5);
  overflow: hidden;
}

/*
.truncated {
  @include number-of-lines(h5, 2);
} */
