.four-story-half-featured {
  padding: var(--space1_5) 0 var(--space3);
  @media (min-width: 768px) {
    padding: var(--space3) 0;
  }
  .title {
    --title-color: var(--greyish-brown);
    margin-bottom: var(--space3);
  }

  :global .story-card-featured-big {
    grid-column: span 4;
    @media (min-width: 768px) {
      grid-column: span 6;
    }
  }

  :global .story-card-featured-small {
    grid-column: span 4;
    padding-top: var(--space1);
    border-top: 1px solid var(--border-color);
    &:nth-child(2) {
      border-top: 0;
    }
    @media (min-width: 768px) {
      grid-column: span 2;
      padding-top: 0;
      border-top: 0;
    }
  }
}
