.base {
  --background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: var(--space2);
  background-color: var(--background-color);

  @media (min-width: 768px) {
    --background-color: var(--white);
  }
}

.image-wrapper {
  /* @include image-aspect-ratio(4, 3); */
  position: relative;
  padding-top: 75%;
  @media (min-width: 768px) {
    padding-top: 100%;
  }
}
