.base {
  display: block;
}

.image-wrapper {
  position: relative;
  padding-top: 62.5%;
}

@media (min-width: 768px) {
  .image-wrapper {
    padding-top: 71.43%;
  }
}

.image-container {
  margin-bottom: -40px;
}

.text-wrapper {
  padding: var(--space2);
  color: var(--greyish-brown);
  background-color: var(--white);
  width: 95%;
  z-index: 1;
  position: relative;
  border-top: 4px solid var(--accent-color);
}

@media (min-width: 768px) {
  .text-wrapper {
    padding: var(--space1);
  }
}

.headline {
  /* @include font-styles(h5); */
  margin: 0;
  color: var(--title-color);
}

.headline.truncated {
  /* @include number-of-lines(h5, 2); */
}
