.base {
  --background-color: var(--off-white);
  background-color: var(--background-color);
  padding: var(--space1_5) var(--space3);
  @media (min-width: 768px) {
    padding: var(--space3) 0;
  }

  :global .bottom-gap {
    display: block;
    margin-bottom: var(--space1);
  }

  :global .bottom-gap-2 {
    display: block;
    margin-bottom: var(--space2);
  }

  :global .line-separator {
    display: block;
    border-bottom: 1px solid var(--alto);
    padding-bottom: var(--space1);
    margin-bottom: var(--space1);
    @media (min-width: 768px) {
      padding-bottom: var(--space2);
      margin-bottom: var(--space2);
    }
  }

  :global .line-separator:last-child {
    @media (min-width: 768px) {
      border-bottom: none;
    }
  }
}

.row {
  grid-gap: 0;
  @media (min-width: 768px) {
    grid-gap: var(--space2);
  }
}

.desktop-col-2 {
  grid-column: span 4;
  @media (min-width: 768px) {
    grid-column: span 2;
  }
}

.desktop-col-3 {
  grid-column: span 4;
  @media (min-width: 768px) {
    grid-column: span 3;
  }
}

.desktop-col-4 {
  grid-column: span 4;
  display: grid;
  grid-gap: var(--space2);
  grid-auto-rows: min-content;
}

.ad {
  padding: 0 var(--space3);
}

.ad-row-3 {
  display: block;
}
