.base {
  padding: var(--space1_5) 0 var(--space3);
  @media (min-width: 768px) {
    padding: var(--space3) 0;
  }

  :global .label-story {
    grid-column: span 4;
    @media (min-width: 768px) {
      grid-column: span 2;
    }
  }
}
