.base {
  --background-color: var(--off-white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--space1);
  background-color: var(--background-color);
  @media (min-width: 768px) {
    --background-color: var(--white);
    display: block;
    margin-bottom: var(--space2);
    position: relative;
  }
}

.image-wrapper {
  padding-top: 62.5%;
  @media (min-width: 768px) {
    /* @include image-aspect-ratio(7, 5); */
    padding-top: 71.43%;
  }
}

.image-container {
  position: relative;
}

.text-wrapper {
  @media (min-width: 768px) {
    background-color: var(--background-color);
    width: 95%;
    z-index: 1;
    position: absolute;
    padding: var(--space1) var(--space2) var(--space2);
    bottom: 0;
    transform: translateY(var(--space2));
  }
}

.headline {
  /* @include font-styles(mobile-h3); */
  padding-top: var(--space-2);
  margin: 0;
  color: var(--title-color);
  @media (min-width: 768px) {
    /* @include font-styles(h4); */
    padding-top: var(--space1);
  }
}
