.base {
  --background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: var(--space1);
  background-color: var(--background-color);
  @media (min-width: 768px) {
    --background-color: var(--white);
    display: block;
    margin-bottom: var(--space2);
    position: relative;
  }
}

.image-wrapper {
  position: relative;
  padding-top: 100%;
  @media (min-width: 768px) {
    padding-top: 56.25%;
  }
}

.image-container {
  position: relative;
}

.headline {
  margin: 0;
  color: var(--title-color);
  @media (min-width: 768px) {
    padding-top: var(--space2);
  }
}
