.base {
  --background-color: var(--white);
  background-color: var(--background-color);
}

.image-container {
  padding-bottom: var(--space1);
  @media (min-width: 768px) {
    padding-bottom: var(--space2);
  }
}

.image-wrapper {
  /* @include image-aspect-ratio(3, 2); */
  position: relative;
  padding-top: 66.67%;
  @media (min-width: 768px) {
    padding-top: 55.55%;
    /* @include image-aspect-ratio(9, 5); */
  }
}
