.base {
  --background-color: var(--white);
  background: var(--background-color);
  padding: var(--space1_5) 0 var(--space3);
  @media (min-width: 768px) {
    padding: var(--space3) 0;
  }
}

.row {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: var(--space3);
  @media (min-width: 768px) {
    grid-template-columns: 5fr 3fr 4fr;
    grid-column-gap: 1%;
  }
}

.third-column {
  @media (min-width: 768px) {
    position: relative;
    padding-bottom: var(--space3);
  }
}

.bottom-aligned {
  margin-top: var(--space3);
  position: static;
  @media (min-width: 768px) {
    position: absolute;
    margin-top: 0;
  }
}

.second-column {
  display: grid;
  grid-row-gap: var(--space2);
  @media (min-width: 768px) {
    grid-row-gap: var(--space1);
    padding-bottom: var(--space3);
  }
}
