.premium {
  display: flex;
  position: absolute;
  padding: var(--space-2);
  background-color: var(--jade-green);
  border-radius: 25% 25% 0 0;
  z-index: var(image-overlay);
  &:global(.bottomRight) {
    bottom: 0;
    right: 5%;
  }
  &:global(.bottomLeft) {
    bottom: 0;
    right: 5%;
  }
  &:global(.topLeft) {
    bottom: 100%;
    left: 5%;
  }
  &:global(.topRight) {
    bottom: 100%;
    right: 5%;
  }
}

.premium-icon {
  font-size: 1.6rem;
  color: white;
}

.headline-premium-icon {
  font-size: 1.6rem;
  color: white;
  background-color: var(--background-color);
  padding: var(--space-4);
  @media (min-width: 768px) {
    font-size: 2rem;
    padding: var(--space-2);
  }
  svg {
    padding: var(--space-2);
    border-radius: 100%;
    background-color: var(--jade-green);
  }
}
