.base {
  --background-color: transparent;
  /* --accent-color: var(--yellowish-orange); */
  background-color: var(--background-color);
}

.image-wrapper {
  /* @include image-aspect-ratio(9, 5); */
  position: relative;
  padding-top: 55.55%;
}

.content {
  padding: var(--space1) var(--space1_5);
  @media (min-width: 768px) {
    padding: var(--space1) var(--space2);
  }
}

.image-container {
  margin-bottom: var(--space2);
}
