.base {
  position: relative;
  display: flex;
  @media (min-width: 768px) {
    flex-direction: column;
  }
  .contributor {
    margin-bottom: var(--space-4);
    @media (min-width: 768px) {
      order: 2;
    }
  }
}

.image-container {
  flex: 1 0 50%;
  position: relative;
  align-self: flex-start;
  margin-right: var(--space1);
  @media (min-width: 768px) {
    align-self: unset;
    margin-right: 0;
  }
}

.badge {
  /* @include font-styles(button-sm); */
  position: absolute;
  left: var(--space1);
  top: 100%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding: var(--space-2) var(--space1);
  background-color: var(--accent-color);
  border-radius: 3px;
  color: var(--white);

  @media (min-width: 768px) {
    left: var(--space2);
    padding: var(--space1);
  }
}

.badge-icon {
  margin: 0 var(--space1) 0 0;
  font-size: 12px;
}

.figure {
  position: relative;
  padding-top: 75%;
  @media (min-width: 768px) {
    padding-top: 50%;
  }
}

.content {
  flex-grow: 1;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 45%;
    background: var(--background-color);
    padding: var(--space1) var(--space2) var(--space4);
  }
}

.headline {
  /* @include font-styles(mobile-h3); */
  color: var(--title-color);
  margin: var(--space-2) 0;
  @media (min-width: 768px) {
    /* @include font-styles(h4); */
    margin: var(--space-2) 0;
  }
}

.truncated {
  /* @include number-of-lines(mobile-h3, 4); */
  @media (min-width: 768px) {
    /* @include number-of-lines(h4, 3); */
  }
}

.badge-text {
}
.story-card-featured-big {
}
.card-with-image-zoom {
}
